
@{
    ViewData["Title"] = "Software";
}

<table class="table table-bordered table-stripped table-hover">
    <thead>
        <tr class="table table-primary">

        <th>Sno.</th>
        <th>Platform</th>
        <th>Technology</th>
        
        </tr>
    </thead>
    <tbody class="table table-secondary">

    <tr>
        <td>1</td>
        <td>VisualStudio</td>
        <td>DotNet</td>
    </tr>
    <tr>
        <td>2</td>
        <td>Eclipse</td>
        <td>Java</td>
    </tr>
    </tbody>
</table>
