
@{
    ViewData["Title"] = "About";
}
<h1 class="text-primary">About</h1>
<div class="alert alert-success">
    <p>We Provide It Training and Solution</p>

</div>

<ul class="list-group list-hover">
    <li class="list-group-item list-group-item-action">A simple default list group item </li>

    <li class="list-group-item list-group-item-primary list-group-item-action">10+Years OF Experience.</li>
    <li class="list-group-item list-group-item-secondary list-group-item-action">Best Infrastructure.</li>
    <li class="list-group-item list-group-item-success list-group-item-action">Friendly Environment.</li>
    <li class="list-group-item list-group-item-danger list-group-item-action">Support to help students find jobs in top IT companies.</li>
    <li class="list-group-item list-group-item-warning list-group-item-action">Recognized certifications after course completion.</li>
    <li class="list-group-item list-group-item-info list-group-item-action">Supportive atmosphere that encourages creativity and innovation.</li>
    <li class="list-group-item list-group-item-light list-group-item-action">Fully equipped labs and smart classrooms for better learning.</li>
    <li class="list-group-item list-group-item-dark list-group-item-action"> Learn from experienced professionals working in the IT industry.</li>
</ul>